<!DOCTYPE html>
<html>

<head>
    <title>Rock Paper Scissors</title>
</head>

<body>
    <h1>Welcome, <%= name %>! Choose your move</h1>
    <form action="/result" method="post">
        <button type="submit" name="choice" value="rock">Rock</button>
        <button type="submit" name="choice" value="paper">Paper</button>
        <button type="submit" name="choice" value="scissors">Scissors</button>
    </form>
</body>

</html>