<!DOCTYPE html>
<html>

<head>
    <title>Rock Paper Scissors</title>
</head>

<body>
    <h2>Hello, <%= name %>!</h2>
    <p>You choose: <%= choice %>
    </p>
    <p>Computer choose: <%= computerChoice %>
    </p>
    <p>Result: <%= result %>
    </p>
    <a href="/">Play Again</a>
</body>

</html>